*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
      padding: 0;
      margin: 0;
      background: #f6f6f6;
  } 
label{
  font-size: 14px;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
header{
  background-image: linear-gradient(135deg, #8980c5 5%, #55A4D7 95%);
    margin-bottom: 0px;
    height: 66px;
    font-family: 'poppins', sans-serif;
    .logo{
      float: left;
      height: inherit;
      margin-left: 2 rem;
  }
}
header *{
    color: #ffff;
}

header .logo-text{
    margin: 9px;
}
span{
    color: rgb(18, 64, 214);
}
header ul{
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
}
header ul li{
    float: left;
    position: relative;
}
header ul li ul{
    position: absolute;
    top: 66px;
    right: opx;
    width: 180px;
    display: none;
}
header ul li:hover ul{
 display: block;
}
header ul li ul li{
    width: 100%;
}
header ul li ul li a{
    padding: 10px;
    color: #8f4f4f;
}
header ul li ul li a:hover{
    color: #fff;
}
header ul li ul li a.logout{
    color: #ed5249;
}
header ul li a{
    display: block;
    padding: 20px;
    font-size: 1.2em;
    text-decoration: none;
    box-sizing: border-box;
}
header ul li a:hover{
    background: rgb(241, 240, 237);
    color: #55A4D7;
    transition: .6s;
}
header .menu-toggle{
display: none
}
/* Content */
.content{
    width: 90%;
    margin: 30px auto 30px;  
}

.content .product{
    margin-top: 10px;
    height: auto;
    width: 68%;
    float: left;
    padding-right: 10px;
}
.content .sidebar{
    width: 30%;
    margin-top: 10px;
    float: left;
    border: 2px solid #e9e9e9;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
 
.clearfix::after{
    content: '';
    display: block;
    clear: both; 
}
 

 
  /* product table */
  table {
    border: 2px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
    table-layout: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #e9e9e9;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: left;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: left;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .section{
        width: 100%;
    }
  }
  
table {
    border: 2px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: left;
    table-layout: fixed;
    font-family: 'poppins', sans-serif; 
  }
  
  table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: left;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: left;
    }
    
    table td::before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
  .footer {
    height: 50px;
    margin-top: -50px;
  }